  body{
  }

  header{
  }

  .ptitle{
    padding-left: 30px
  }

  #banner{
    width: 100%;
  }

  .about{
    background: #CCCCCC;
    padding: 20px;
  }

  .centitle{
    text-align: center;
  }

  p{
    text-align: center;
  }

  em strong{
    color: red;
  }

  #mision{
    font-size: 20px;
  }

  .diff{
    background: #FFFFFF
    padding: 30px;
  }

  .items{
    font-style: italic;
  }

  ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    padding-left: 150px;

  }

  .imgdiff{
    width: 50%
  }
